*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

/* --- */

#container {
  display: flex;
  align-items: start;
  min-height: 100vh;
  flex-direction: column;

  background-color: red;
}

html {
  font-size: 16px;
}

body {
  font-family: cursive;
  font-size: 5rem;
  color: rgb(255, 250, 250);
}

/* --- */

img {
  margin-left: 5%;
  margin-top: 5%;
  height: 20vh;;
}

p {
  color: rgb(228, 228, 92);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 25%;
  font-size: 6vh;
}

p:hover {
  color: yellow;
  transition: 1s;
}